body {
	background-color: #ECEFF1;
	background-image: url("../img/IMG_20161023_180152.jpg");
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body.kiss {
	background-image: url("../img/IMG_20161023_180228.jpg");
}

#content {
	margin-top: 150px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
}

#content h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
	color: rgba(0, 0, 0, 0.7);
	margin: 0;
	font-weight: 300;
	text-shadow: 2px 1px #ffa100;
}

#content h2 {
	color: #ffa100;
	text-shadow: 1px 1px #333333;
	font-size: 37px;
	font-family: 'Marck Script', cursive;
	margin: 0;
}

#content p {
	margin: 16px 0;
	font-size: 28px;
	font-family: 'Rancho', cursive;
}

.subcontent {
	background-color: rgba(256, 256, 256, 0.7);
	max-width: 360px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px 24px;
}

.subcontent.sub_title {
	padding-top: 30px;
	padding-bottom: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@media ( max-width : 600px) {
	body {
		background-position: center;
		border-top: 16px solid #ffa100;
		background-image: url("../img/IMG_20161023_180152_xs.jpg");
	}
	body.kiss {
		background-image: url("../img/IMG_20161023_180228_xs.jpg");
	}
	#content {
		margin-top: 0;
		border-radius: 0;
		box-shadow: none;
		padding: 30px 0;
		max-width: 100%;
	}
}